#login-bullets > * {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

#login-bullets > .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #fff;
  border-radius: 9999px;
}
