@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: #016db2;
  color: white;
}

::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

/* width */
/* ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
} */

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

select:focus {
  box-shadow: none !important;
}

/* select:focus > option:checked {
  background: #016db2 !important;
  color: white;
}

select:focus > option:hover {
  background: #016db2 !important;
  color: white;
} */

.scroll-style::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* width of the entire scrollbar */
}

.scroll-style::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: #f2f4f6; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background: #d9fbfb;
}

::-webkit-search-cancel-button {
  position: relative;
  right: 10px;
}

.scroll-style-3::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* width of the entire scrollbar */
}

.scroll-style-3::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.scroll-style-3::-webkit-scrollbar-thumb {
  background-color: #dde1e6; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.scroll-style-3::-webkit-scrollbar-thumb:hover {
  background: #c4c7ca;
}

.scroll-style-4::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* width of the entire scrollbar */
}

.scroll-style-4::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  border-radius: 20px;
}

.scroll-style-4::-webkit-scrollbar-thumb {
  background-color: #005499; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.scroll-style-4::-webkit-scrollbar-thumb:hover {
  background: #1064a8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar-1::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar-2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
